{% import "macros.j2" as _etcd with context %}
{% if etcd_ca_host %}
ETCDCTL_CA_FILE={{_etcd.ca_file()}}
ETCDCTL_CERT_FILE={{_etcd.cert_file()}}
ETCDCTL_KEY_FILE={{_etcd.key_file()}}
{% endif %}
ETCDCTL_PEERS={{_etcd.peers()}}
